*{
    margin: 0%;
    box-sizing: border-box;
}
#tlast{
    font-size: 1em;
    padding-top: 10vh;
}
#tlast3{
font-size: 10pt;
}
#footer1{
    font-size: 9pt;
}
#dior{
    font-size: 30pt;
    
}